@font-face {
    src: url(./font/Daydream.ttf);
    font-family: daydream;
}


.flexbox-container {
    min-height: 600px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.flexbox-item {
    
    width:200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #141414;
    
}

.flexbox-item-1 {
    min-height:;
}
/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/


.paragraph {
    font-size: 25px;
    line-height: 62px;
    font-family: daydream;
}

li {
    float:none;
    display:inline-block;
    padding: 10px;
    text-align: center;
    
    
}

h2 {
    color:rebeccapurple
}




/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/





@keyframes gradient {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
    
}

.button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #C2BB48;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "daydream";
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
    position:absolute;
}

.button:hover {
  background: #C2BB48;
}

.button:active {
  background: #C2BB48;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}


body {margin:0;}


/*Bar*/
.icon-bar {
  width: 100%;
  background-color: #27167C; /*Inactive*/
  color: #AA1596;
  overflow: auto;
}

.icon-bar a {
  text-decoration:none;
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: #AA1596; /*Text Color*/
  font-size: 25px;
      font-family: daydream;  
}

.icon-bar a:hover {
  background-color: #C2BB48 !important; /*Hover*/
  color: #AA1596 !important;
}

.active {
  background-color: #AA1596 !important; /*current page*/
  color: #C2BB48 !important;
}


/////////////////////////////////////


/*Dark Bar*/
.d-icon-bar {
  width: 100%;
  background-color: #27167C; /*Inactive*/
  color: #AA1596;
  overflow: auto;
}

.d-icon-bar a {
  text-decoration:none;
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: #AA1596;
  font-size: 25px;
      font-family: daydream;  
}

.d-icon-bar a:hover {
  background-color: #C2BB48; /*Hover*/
  color: #AA1596;
}

.d-active {
  background-color: #AA1596; /*current page*/
  color: #C2BB48;
}


