@font-face {
    src: url(./font/Daydream.ttf);
    font-family: daydream;
}


.flexbox-container {
    min-height: 600px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.flexbox-item {
    
    width:200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #141414;
    
}

.flexbox-item-1 {
    min-height:;
}
/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/


.paragraph {
    font-size: 25px;
    line-height: 62px;
    font-family: daydream;
}







/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/

h1{
    font-family: daydream;  
    color:#27167C;
}

li {
    float:none;
    display:inline-block;
    padding: 10px;
    text-align: center;
    
    
}
ul{
    font-family:monospace;
    vertical-align:middle;
    color:red;
    background-color: radial-gradient(#e51bcf, #171ec5, #00e0ff, #b917c5);
    font-size:30px;
    list-style: none;
}

body{
    color:green;
}


#yellowhighlight{
    background: yellow;
    color: black;
}

 .bluepaint {
    color:blue;
    font-size: 1px;
    }

 .gradient {
    background: radial-gradient(#e51bcf, #171ec5, #00e0ff, #b917c5);
    background-size: 800% 800%;

    animation: gradient 29s ease infinite;
}

.hero-image {
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


@keyframes gradient {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
    
}

.background {
     background:"./media/didgeri.gif";
}

.button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "daydream";
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
    position:absolute;
}

.button:hover {
  background: #008168;
}

.button:active {
  background: #006e58;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}


body {margin:0;}


/*Bar*/
.icon-bar {
  width: 100%;
  background-color: #27167C; /*Inactive*/
  color: #AA1596;
  overflow: auto;
}

.icon-bar a {
  text-decoration:none;
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  /* color: #AA1596; /*Text Color*/
  font-size: 25px;
      font-family: daydream;  
}

.icon-bar a:hover {
  background-color: #C2BB48; /*Hover*/
  color: #AA1596;
}

.active {
  background-color: #AA1596; /*current page*/
  color: #C2BB48;
}


/////////////////////////////////////


/*Dark Bar*/
.d-icon-bar {
  width: 100%;
  background-color: #27167C; /*Inactive*/
  color: #AA1596;
  overflow: auto;
}

.d-icon-bar a {
  text-decoration:none;
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  /* color: #AA1596; /*Text Color*/
  font-size: 25px;
      font-family: daydream;  
}

.d-icon-bar a:hover {
  background-color: #C2BB48; /*Hover*/
  color: #AA1596;
}

.d-active {
  background-color: #AA1596; /*current page*/
  color: #C2BB48;
}


background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);



